@font-face {
    font-family: "inter";
    src: url("/public/font/Inter-Medium.ttf") format("truetype");
  }


.faq-container-Main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 250px;
}

.faq-container {
    display: flex;
    align-items: stretch;
}

.oriwami{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.faq-content {
    margin-top: 15px;
    flex: 1;
    padding: 20px;
    padding-bottom: 25%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(194, 212, 255, 0.7);
}

h1 {
    font-size: 24px;
}

.faq-item {
    margin-top: 20px;
    border: 1px solid #cfd9ff93;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #FAFBFF;
    cursor: pointer;
}

.faq-question h2 {
    margin: 0;
}

.arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.arrow.active1 {
    transform: rotate(180deg);
}

.faq-answer {
    padding: 15px;
    background-color: #fff;
}

@media screen and (max-width: 1025px){
    .faq-container-Main{
        padding-left: 0;
    }
}