/* Ensure the app container uses flexbox */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Base styles for the chart */
  .chart-container {
    width: 100%;
  }
  
  /* Dynamic height adjustments */
  .chart {
    width: 100%;
    height: 450px;
  }

   @media screen and (max-width: 1400px) {
    .chart{
        width: 95%;
    }
   }