@font-face {
  font-family: "tkt";
  src: url("/public/font/TKT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "tktMedium";
  src: url("/public/font/TKT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/public/font/Poppins-Regular.ttf") format("truetype");
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.heartbeat {
  animation: heartbeat 0.8s infinite alternate;
}

body {
  background-color: #f5f5f5;
}

/* Sidebar.css */

.sidebar {
  width: 250px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 10px;
  padding-right: 20px;
}

.sidebar h1 {
  margin-left: 20px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 16px;
  max-width: 252px;
  height: 55px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.active {
  background-color: #4318ff;
  height: 55px;
  width: 252px;
  border-radius: 12px;
  padding: 10px;
  color: aliceblue;
}

.active path {
  stroke: aliceblue;
  fill: aliceblue;
}

li:hover {
  transition: all 0.4s ease-in;
  background-color: #4318ff;
  border-radius: 12px;
  cursor: pointer;
  color: aliceblue;
}

li:hover a {
  padding: 10px;
  color: aliceblue;
  width: 252px;
}

li:hover path {
  stroke: aliceblue;
  fill: aliceblue;
}

li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-family: tkt;
  color: #737791;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  li {
    padding: 8px;
  }
}
