@font-face {
  font-family: "tkt";
  src: url("/public/font/TKT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "tktMedium";
  src: url("/public/font/TKT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/public/font/Poppins-Regular.ttf") format("truetype");
}


/* Sidebar.css */

.sidebar {
  width: 250px; /* Set the initial width of the sidebar */
  height: 100%; /* Make the sidebar full height */
  background-color: #333; /* Background color of the sidebar */
  position: fixed; /* Make the sidebar fixed so it stays in place */
  top: 0; /* Position it from the top */
  left: 0; /* Position it from the left */
  overflow-y: auto; /* Add scroll if content overflows */
}

ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 252px;
  height: 64px;
}

li:hover{
  background-color: #4318ff;
  border-radius: 16px;
}

li a {
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-family: tkt;
  color: white; /* Set link text color */
  text-decoration: none; /* Remove underline from links */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Make sidebar full width on smaller screens */
    height: auto; /* Allow sidebar height to adjust based on content */
  }

  li {
    padding: 8px; /* Adjust padding for smaller screens */
  }
}
