@font-face {
  font-family: "tkt";
  src: url("/public/font/TKT-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "tktMedium";
  src: url("/public/font/TKT-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("/public/font/Poppins-Regular.ttf") format("truetype");
}